@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    transition: 0.3s ease;
    text-transform: uppercase;
    font-family: var(--font);
}

:root {
    --main_color: #FFCEA8;
    --acent_color: #B53625;
    --bg_color_firs: #153A44;
    --bg_color_sec: #DDA972;
    --avtive_color:#B88B46;
    --font:"Unbounded";
}

body {
    background-color: var(--main_color);
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}