form {
    display: flex;
    margin: 20px auto;
    width: 435px;
    padding: 20px 10px;
    padding-bottom: 0px;
    gap: 20px;
    height: 550px;
    background-color: var(--bg_color_firs);
    flex-direction: column;
    align-items: center;

    h4 {
        font-size: 24px;
        color: var(--main_color);
        font-family: var(--font);
        font-weight: 200;
    }

    input {
        display: flex;
        width: 338px;
        height: 69px;
        margin-top: 30px;
        border: 4px solid var(--main_color);
        background-color: var(--bg_color_firs);
        border-radius: 10px;
        font-family: var(--font);
        color: var(--main_color);
        padding-left: 17px;
        font-size: 20px;
        text-decoration: none;
        text-transform: none;
        font-weight: 200;
    }

    ::placeholder {
        color: var(--main_color);
    }

    .button,
    button {
        width: 355px;
        height: 69px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main_color);
        font-family: var(--font);
        background-color: var(--bg_color_firs);
        border-radius: 10px;
        border: 4px solid var(--main_color);
        text-decoration: none;
        font-weight: 200;
        margin-top: 30px;
    }

    label {
        color: var(--main_color);
        margin: 0;
    }

}

#id_username {
    margin-top: 0px;
}

#id_password {
    margin-top: 0px;
}