<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выход</title>

    <link rel="stylesheet" href="../static/css/exit.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- decorators -->
    <script src="../decorators/User_Log.js" defer></script>
    <!-- decorators -->

    <!-- components -->
    <script src="../components/CompHeader.js" defer></script>
    <script src="../components/CompExit.js" defer></script>
    <!-- components -->

    <!-- js -->
    <script src="../static/js/header.js" defer></script>
    <script src="../static/js/exit.js" defer></script>
    <!-- js -->


</head>
<body>
    
</body>
</html>



